.cover-row-img {
    display: flex;
    width: 100%;
    flex: 1;
  }

  .cover {
    position: relative;
    width: 100%;
    overflow: hidden;
}

  @media only screen and (max-width: 640px) {
    .cover-row-img {
      display: block;
    }
  }

