
  .cover {
    position: relative;
    overflow: hidden;
    width: 32%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media screen and (max-width: 640px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 2000px) {
  .cover {
    width: 20%;
  }
}