.cover img {
    width: 100%;
}
.cover-row-item-img-overlay {
  bottom: -120px;
  position: absolute;
  opacity: .9;
  background-color: magenta;
  color: yellow;
  text-align: center;
  padding: 15px;
  width: 100%;
  transition: bottom 0.5s ease;
  box-sizing: border-box;
  border-radius: 110px;
}

.cover:hover .cover-row-item-img-overlay {
  bottom: 0;
}
