.App {
  text-align: center;
}

.cover-row-img {
  display: flex;
  justify-content: space-around;
}

.cover-row-img img {
  width: 100%;
  width: 100%;
}

.cover-row-item-img {
  flex: 1;
  flex-basis: 100%;
}

@media only screen and (max-width: 640px) {
  .cover-row-img {
    display: block;
  }
}